<div class="sectionOne d-flex">
    <img class="img" src="assets/img/Section-One.png" alt="imagen Section One">
    <div class="contenedor">
        <h5 class="h5Bienvenido text-uppercase text-center font-weight-bold"><strong>¡Bienvenidos!</strong></h5>
        <h3 class="subTitulo text-center"><em>Somos tu nueva forma de moverte y mover tu carga</em></h3>
        <br/>
        <p class="parrafo text-center">Ahora puedes ser más eficiente en tu negocio. Traslada tus cargas a traves de nuestro sistema de oferta y demanda, simplificando las transacciones y los procesos.</p>
        <br/>

        <a href="#" class="btn btnDador">Soy dador de carga</a>
        <a href="#" class="btn btn-outline-light btn-dark btnTranspor">Soy Transportista</a>
        <p class="parrafo text-center font-weight-bold mb-0 mt-5">¿Aun no te has registrado? Haz click <a href="#"><u>Aquí</u></a>.</p>
    </div>
</div>