.conten {
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.card {
    background-color: rgb(68, 182, 93);
    opacity: 90%;
    position: absolute;
}

.contenedor {
    background-color: #fafafa;
    opacity: 90%;
    border: solid;
    border-radius: 3%;
    margin-top: 10px;
}

img {
    width: 100%;
    min-height: 500px;
}

form .nom {
    border-color: #000000;
}

form .e-mail {
    border-color: #000000;
}

form .tel {
    border-color: #000000;
}

form .dir {
    border-color: #000000;
}

form .mensj {
    border-color: #000000;
}

@media screen and (max-width:1000px) {
    /*.parrafos {
        width: 100%;
    }*/
    img {
        min-height: 650px;
    }
    .contendor {
        width: 100%;
    }
}