<div class="conten">
    <img class="img" src="assets/img/Section-Three.png" alt="imagen Section Three">
    <div class="container">
        <div class="row">
            <!--<div class="parrafos col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 card-img-overlay">




            </div>-->
            <div class="col-12 col-md-6 col-lg-6 col-xl-6 card-img-overlay ml-auto">
                <div class="contenedor" style="width: auto; height:auto;">
                    <div class="card-title">
                        <p class="text-uppercase font-weight-bold ml-1 p-2">Contactanos</p>
                        <p class="ml-3 font-weight-bold font-italic">Dejanos tu mensaje y nos pondremos en contacto contigo.</p>
                    </div>

                    <form action=" ">
                        <div class="form-group row m-3">
                            <div class="col-12 col-lg-6 col-xl-6">
                                <label for="Nombre" class="font-weight-bold">Nombre/Empresa</label>
                                <input type="text " class="nom form-control" placeholder="Ej. Juan Perez/Rosario SRL" required>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-6">
                                <label for="Email" class="font-weight-bold">Email</label>
                                <input type="email " class="e-mail form-control" placeholder="Ej. jperez@gmail.com" required>
                            </div>
                        </div>

                        <div class="form-group row m-3">
                            <div class="col-12 col-lg-6 col-xl-6">
                                <label for="Telefono" class="font-weight-bold">Teléfono</label>
                                <input type="text " class="tel form-control" placeholder="Ej. 0341 - 689752" required>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-6">
                                <label for="Dirección" class="font-weight-bold">Dirección</label>
                                <input type="text " class="dir form-control" placeholder="Ej. Av. Pellegrini 2105" required>
                            </div>
                        </div>
                        <div class="form-group row m-3">
                            <div class="col-12">
                                <label for="Mensaje" class="font-weight-bold">Mensaje</label>
                                <textarea name="mensaje " id="mensaje " class="mensj form-control" placeholder="Escriba aquí su mensaje"></textarea>
                            </div>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary ml-3 mb-3 mt-1" type="submit ">Enviar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>


</div>