<div class="con d-flex flex-row justify-content-center">

    <p class="text-center m-5 text-white font-weight-bold">¿Eres transportista?</p>

</div>

<div class="container containerCards d-flex text-center">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="cardBody card">
                <div class="card-body">
                    <h5 class="cardTitle card-title text-center">Buscá tus cargas</h5>
                    <img src="assets/img/buscar.png" class="m-4" alt="buscar" width="50px" height="50px">
                    <p class="card-text text-justify">Palets de madera, granos, cereales, alimentos, equipamiento tecnológico y mucho más.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="cardBody card">
                <div class="card-body">
                    <h5 class="cardTitle card-title text-center">Ofertá por cargas</h5>
                    <img src="assets/img/comentario.png" class="m-4" alt="buscar" width="50px" height="50px">
                    <p class="card-text text-justify">Comunícate con los dadores de carga válidos para operar de manera segura y transparente, sin intermediarios.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="cardBody card">
                <div class="card-body">
                    <h5 class="cardTitle card-title text-center">Optimizá tu tiempo</h5>
                    <img src="assets/img/camion.png" class="m-4" alt="buscar" width="50px" height="50px">
                    <p class="card-text text-justify">Reducí tu tiempo osicioso, el costo de mantenimiento de tu vehículo y mejora la calidad de tu tiempo en el viaje.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="con1 d-flex flex-row justify-content-center">

    <p class="text-center m-5 text-white font-weight-bold">¿Eres dador de carga?</p>

</div>

<div class="container containerCards1 d-flex text-center align-items-center">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="cardBody card">
                <div class="card-body">
                    <h5 class="cardTitle card-title text-center mb-4">Publicá tus cargas </h5>
                    <img src="assets/img/internet.png" class="m-4" alt="buscar" width="50px" height="50px">
                    <p class="card-text text-justify">Llegá a miles de transportistas todos los días. Reducí el tiempo en stock de tus cargas.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="cardBody card">
                <div class="card-body">
                    <h5 class="cardTitle card-title text-center">Conoce el estado de tu carga</h5>
                    <img src="assets/img/calendario.png" class="m-4" alt="buscar" width="50px" height="50px">
                    <p class="card-text text-justify">Para tu tranquilidad vas a saber el estado de tu carga.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="cardBody card">
                <div class="card-body">
                    <h5 class="cardTitle card-title text-center">Conseguí tarifas competitivas</h5>
                    <img src="assets/img/dinero.png" class="m-4" alt="buscar" width="50px" height="50px">
                    <p class="card-text text-justify">Encontrá tu transportista más próximo y baja costos operativos y tiempos de negociación.</p>
                </div>
            </div>
        </div>
    </div>
</div>