<div class="nosotros">
    <div class="container contenedorCards d-flex">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card tipoCard" style="width: 18rem;">
                    <img src="assets/img/JulioDiGiacinti.JPG" class="card-img-top rounded img-thumbnail" alt="JulioDiGiacinti">
                    <div class="card-body cardBody">
                        <p class="card-title cardTitle">Julio Di Giacinti - 27 años</p>
                        <p class="cardSubTitle card-subtitle">Estudiante avanzado en la carrera de Ingeniera en Sistemas de Información en la UTN FRRO.</p>
                        <hr>
                        <p class="card-text cardText">Encargado de análisis de datos </p>
                        <a href="https://www.facebook.com/juliodigia" class="btn btn-primary">Facebook</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card tipoCard" style="width: 18rem;">
                    <img src="assets/img/MatiasMicchele.jpg" class="card-img-top rounded img-thumbnail" alt="MatiasMicchele">
                    <div class="card-body cardBody">
                        <p class="card-title cardTitle">Matías Micchele - 26 años</p>
                        <p class="cardSubTitle card-subtitle">Estudiante avanzado en la carrera de Ingeniera en Sistemas de Información en la UTN FRRO.</p>
                        <hr>
                        <p class="card-text cardText">Encargado de programación</p>
                        <a href="https://www.facebook.com/matias.micchele" class="btn btn-primary">Facebook</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card tipoCard" style="width: 18rem;">
                    <img src="assets/img/MarianoOshea.jpg" class="card-img-top rounded img-thumbnail" alt="MarianoOshea">
                    <div class="card-body cardBody">
                        <p class="card-title cardTitle">Mariano O'Shea - 26 años</p>
                        <p class="cardSubTitle card-subtitle">Estudiante avanzado en la carrera de Ingeniera en Sistemas de Información en la UTN FRRO.</p>
                        <hr>
                        <p class="card-text cardText">Encargado de análisis de datos</p>
                        <a href="https://www.facebook.com/mariano.oshea.5" class="btn btn-primary">Facebook</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>